{{#each messages}}
<div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    {{this}}
</div>
{{/each}}

<div class="page-header">
    <h1>Felvett ételek</h1>
    
</div>

{{log model}}

{{error-list errors=model}}

<p>{{link-to "Új étel" "errors.new" class="btn btn-default" id="newErrorButton"}}</p>